In [104]:
import pandas as pd

In [106]:
df = pd.read_csv(r'C:\Users\Manal\Desktop\New folder (6)\cleaned_orders_shipment.csv')

In [112]:
df

,Unnamed: 0,order_id,order_year,order_month,order_day,order_quantity,product_department,product_category,product_name,customer_id,...,shipment_year,shipment_month,shipment_day,shipment_mode,shipment_days_scheduled,gross_sales,discount%,profit,order_date,shipment_date
0,0,3535,2015,2,21,1,Fan Shop,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,7840,...,2015,2,27,Standard Class,4,400.0,0.25,200,2015-02-21,2015-02-27
1,1,4133,2015,3,2,1,Fan Shop,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,1203,...,2015,3,6,Standard Class,4,400.0,0.09,200,2015-03-02,2015-03-06
2,2,7396,2015,4,18,1,Fan Shop,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,10866,...,2015,4,20,Standard Class,4,400.0,0.06,200,2015-04-18,2015-04-20
3,3,11026,2015,6,10,1,Fan Shop,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,3576,...,2015,6,12,Standard Class,4,400.0,0.15,200,2015-06-10,2015-06-12
4,4,11026,2015,6,10,1,Fan Shop,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,3576,...,2015,6,12,Standard Class,4,400.0,0.13,200,2015-06-10,2015-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30866,30866,73246,2017,12,5,1,Fan Shop,Toys,Toys,16799,...,2017,12,11,Standard Class,4,12.0,0.06,6,2017-12-05,2017-12-11
30867,30867,7908,2015,4,26,1,Fan Shop,Hunting & Shooting,ENO Atlas Hammock Straps,11950,...,2015,4,30,Standard Class,4,30.0,0.12,68,2015-04-26,2015-04-30
30868,30868,29326,2016,3,4,1,Fan Shop,Hunting & Shooting,ENO Atlas Hammock Straps,8161,...,2016,3,6,Second Class,2,30.0,0.09,68,2016-03-04,2016-03-06
30869,30869,63308,2017,7,13,1,Fan Shop,Hunting & Shooting,insta-bed Neverflat Air Mattress,5733,...,2017,7,17,Second Class,2,150.0,0.02,60,2017-07-13,2017-07-17
30870,30870,67951,2017,9,18,1,Fan Shop,Water Sports,Pelican Maverick 100X Kayak,5030,...,2017,9,20,First Class,1,350.0,0.00,172,2017-09-18,2017-09-20

## Answer Questions

## 1. What is the average order quantity per product category?

In [155]:
average_order_quantity = df.groupby('product_category')['order_quantity'].mean().reset_index()

In [157]:
print(average_order_quantity)

        product_category  order_quantity
0            Accessories        2.993730
1        As Seen on  TV!        2.727273
2                   Baby        1.000000
3    Baseball & Softball        2.705357
4             Basketball        1.000000
5                  Books        1.000000
6           Boxing & MMA        3.105263
7                    CDs        1.000000
8                Cameras        1.000000
9       Camping & Hiking        1.000000
10      Cardio Equipment        3.020091
11   Children's Clothing        1.000000
12                Cleats        3.014891
13  Consumer Electronics        1.000000
14                Crafts        1.000000
15                  DVDs        1.000000
16           Electronics        2.921154
17               Fishing        1.000000
18   Fitness Accessories        2.509434
19                Garden        1.000000
20        Girls' Apparel        3.090000
21          Golf Apparel        2.637931
22     Golf Bags & Carts        1.000000
23            Golf Balls        2.977778
24           Golf Gloves        2.765363
25            Golf Shoes        2.838710
26     Health and Beauty        1.000000
27                Hockey        2.775281
28    Hunting & Shooting        2.558824
29  Indoor/Outdoor Games        2.975410
30      Kids' Golf Clubs        1.656716
31              Lacrosse        3.000000
32        Men's Clothing        1.000000
33        Men's Footwear        1.000000
34      Men's Golf Clubs        1.491803
35                 Music        1.000000
36          Pet Supplies        1.000000
37         Shop By Sport        3.040021
38                Soccer        2.125000
39        Sporting Goods        1.000000
40     Strength Training        1.000000
41      Tennis & Racquet        2.721311
42                  Toys        1.000000
43              Trade-In        2.827778
44           Video Games        1.000000
45          Water Sports        1.000000
46       Women's Apparel        3.005522
47      Women's Clothing        1.000000
48    Women's Golf Clubs        2.333333

## 2.What is the total profit per product department?

In [167]:
total_profit_per_department = df.groupby('product_department')['profit'].sum().reset_index()

In [169]:
print(total_profit_per_department)

   product_department   profit
0             Apparel   912034
1           Book Shop      840
2          Discs Shop    12791
3            Fan Shop  1641468
4             Fitness    37363
5            Footwear   554792
6                Golf   655012
7   Health and Beauty     3944
8            Outdoors   124969
9            Pet Shop     3000
10         Technology    47979

In [185]:
import pandas as pd

In [187]:
df = pd.read_csv(r'C:\Users\Manal\Desktop\New folder (6)\cleaned inventory.csv')

In [189]:
df

,Unnamed: 0,product_name,year_month,warehouse_inventory,inventory_cost_per_unit,year,month
0,0,Perfect Fitness Perfect Rip Deck,2017-12,0,0.69517,2017,12
1,1,Nike Men's Dri-FIT Victory Golf Polo,2017-12,2,1.29291,2017,12
2,2,O'Brien Men's Neoprene Life Vest,2017-12,0,0.56531,2017,12
3,3,Nike Men's Free 5.0+ Running Shoe,2017-12,1,1.26321,2017,12
4,4,Under Armour Girls' Toddler Spine Surge Runni,2017-12,0,1.47648,2017,12
...,...,...,...,...,...,...,...
4195,4195,TaylorMade 2017 Purelite Stand Bag,2015-01,0,1.44662,2015,1
4196,4196,Ogio Race Golf Shoes,2015-01,0,0.10310,2015,1
4197,4197,GolfBuddy VT3 GPS Watch,2015-01,0,1.77747,2015,1
4198,4198,Titleist Small Wheeled Travel Cover,2015-01,0,0.15244,2015,1
4199,4199,Polar Loop Activity Tracker,2015-01,1,0.88259,2015,1

## 3. What is the total inventory cost per unit for each product?

In [197]:
total_inventory_cost = inventory_cost_per_unit.groupby('product_name')['inventory_cost_per_unit'].sum().sort_values (ascending=False)
print(total_inventory_cost)

product_name
Garmin Forerunner 910XT GPS Watch             356.000000
GoPro HERO3+ Black Edition Camera             298.000000
Lawn mower                                    275.000000
Garmin Approach S4 Golf GPS Watch             258.000000
Web Camera                                    233.000000
                                                 ...
Glove It Urban Brick Golf Towel                 4.708609
Team Golf Tennessee Volunteers Putter Grip      4.591837
Glove It Women's Mod Oval Golf Glove            4.129870
Hirzl Women's Hybrid Golf Glove                 3.079470
Hirzl Women's Soffft Flex Golf Glove            2.800000
Name: inventory_cost_per_unit, Length: 113, dtype: float64

## 4. How many unique products were ordered?

In [114]:
df['product_name'].nunique()

113

## 5. What is the total gross sales per year?

In [118]:
df.groupby('order_year')['gross_sales'].sum()

order_year
2015    2112579.0
2016    2213350.0
2017    1855547.0
Name: gross_sales, dtype: float64

## 6. Which customers generate the highest revenue, and what percentage of total revenue do they contribute?

In [123]:
top_customers = df.groupby('customer_id')['gross_sales'].sum().nlargest(10)

In [125]:
total_sales = df['gross_sales'].sum()

In [127]:
top_customers_percentage = (top_customers / total_sales) * 100

In [129]:
top_customers_percentage

customer_id
9897     0.073931
11816    0.061555
9277     0.060503
3297     0.060180
5363     0.058886
2922     0.058805
6300     0.057025
8078     0.056702
6724     0.056621
5958     0.056394
Name: gross_sales, dtype: float64

## 7. Is there a relationship between discount percentage and profit?

In [136]:
df[['discount%', 'profit']].corr()

           discount%    profit
discount%   1.000000  0.005999
profit      0.005999  1.000000